<ion-view view-title="Settings">
	<ion-content class="padding">
		<div class="list card">
			<label class="item item-input">
    			<input type="text" placeholder="User Name">
 			</label>
 			<label class="item item-input">
    			<input type="text" placeholder="Password">
 			</label>
 			<label class="item item-input">
    			<input type="text" placeholder="First Name">
 			</label>
 			<label class="item item-input">
    			<input type="text" placeholder="Last Name">
 			</label>
 			<label class="item item-input">
    			<input type="text" placeholder="Email">
 			</label>
		</div>
		<div class="padding">
			<button class="button button-block button-positive" ng-click="save()">Save</button>
		</div>
	</ion-content>
</ion-view>